---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<style>
  #main {
    max-width: 900px;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .page-header h1 {
    font-size: 2rem;
    margin: 0;
  }
  .page-header .line {
    margin-top: 0rem;
    width: 200px;
    height: 3px;
    background-color: #FF7F50;
    border-radius: 2px;
  }

    @media (min-width: 57.8125em) {
    .archive {
      padding-left: 0.5 !important;
      float: none !important;
      width: 100% !important;
      margin-right: 0 !important;
    }
  }
</style>

<div class="page-header">
  <h1>Publications</h1>
  <div class="line"></div>
</div>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
