{% include base_path %}

{% if paginator.total_pages > 1 %}
<nav class="pagination-bar">
  <div class="pagination-controls">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="pagination-button prev" href="{{ base_path }}/">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% else %}
        <a class="pagination-button prev" href="{{ base_path }}/page{{ paginator.previous_page }}/">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
      {% endif %}
    {% else %}
      <span class="pagination-button prev disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span>
    {% endif %}

    <ul class="pagination-pages">
      {% if paginator.page == 1 %}
        <li><span class="current">1</span></li>
      {% else %}
        <li><a href="{{ base_path }}/">1</a></li>
      {% endif %}

      {% assign page_start = 2 %}
      {% if paginator.page > 4 %}
        {% assign page_start = paginator.page | minus: 2 %}
        <li><span class="ellipsis">…</span></li>
      {% endif %}

      {% assign page_end = paginator.total_pages | minus: 1 %}
      {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
      {% if pages_to_end > 4 %}
        {% assign page_end = paginator.page | plus: 2 %}
      {% endif %}

      {% for index in (page_start..page_end) %}
        {% if index == paginator.page %}
          <li><span class="current">{{ index }}</span></li>
        {% else %}
          <li><a href="{{ base_path }}/page{{ index }}/">{{ index }}</a></li>
        {% endif %}
      {% endfor %}

      {% if pages_to_end > 3 %}
        <li><span class="ellipsis">…</span></li>
      {% endif %}

      {% if paginator.page == paginator.total_pages %}
        <li><span class="current">{{ paginator.page }}</span></li>
      {% else %}
        <li><a href="{{ base_path }}/page{{ paginator.total_pages }}/">{{ paginator.total_pages }}</a></li>
      {% endif %}
    </ul>

    {% if paginator.next_page %}
      <a class="pagination-button next" href="{{ base_path }}/page{{ paginator.next_page }}/">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <span class="pagination-button next disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span>
    {% endif %}
  </div>
</nav>
{% endif %}
