{% include base_path %}

<div class="post-pagination-row">
  {% if page.previous %}
    <a href="{{ base_path }}{{ page.previous.url }}" class="square-button prev" title="{{ page.previous.title | markdownify | strip_html }}">
      ←
    </a>
  {% else %}
    <span class="square-button prev disabled">←</span>
  {% endif %}

  <div class="post-content-center">
    {{ content }}
  </div>

  {% if page.next %}
    <a href="{{ base_path }}{{ page.next.url }}" class="square-button next" title="{{ page.next.title | markdownify | strip_html }}">
      →
    </a>
  {% else %}
    <span class="square-button next disabled">→</span>
  {% endif %}
</div>
